body {
    background: rgb(233,238,174);
    background: radial-gradient(circle, rgba(233,238,174,1) 0%, rgba(148,153,233,1) 100%);
    background-size: 2000px 1000px;}

.cim {color: #312e05;
    float: none;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;}

.szoveg {
    color: #1f055bb0;
    float: none;

     margin-left: 200px;
  }
.valasz{
    font-family: Georgia, serif;
font-size: 13px;
letter-spacing: 0px;
word-spacing: 1.8px;
color: #3005dcb7;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
margin-left: 200px;

}