body {
    background: rgb(233,238,174);
    background: radial-gradient(circle, rgba(233,238,174,1) 0%, rgba(148,153,233,1) 100%);
    background-size: 2000px 1000px;}

.cim {color: #312e05;
    float: none;
   /* padding: 100px; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;}

.szoveg {
    color: #1f055bb0;
    float: none;
     /* padding: 100px; */
     margin-left: 200px;
  }